apps.txt
.bash_history
.bash_logout
.bashrc
.cache
certs
.certs
docker-command.txt
.git/
.gitconfig
.gitignore
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vimrc
src/app/__pycache__/
src/.venv/
