{% macro message(body, header) -%}
{% if header == "error" %}
    <div>
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "info" %}
    <div>
        <article class="message is-info">
            <div class="message-header">
                <p>Information</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "warning" %}
    <div>
        <article class="message is-warning">
            <div class="message-header">
                <p>Warning</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "success" %}
    <div>
        <article class="message is-success">
            <div class="message-header">
                <p>Successful</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "primary" %}
    <div>
        <article class="message is-primary">
            <div class="message-header">
                <p>Primary</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "link" %}
    <div>
        <article class="message is-link">
            <div class="message-header">
                <p>Link</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% elif header == "dark" %}
    <div>
        <article class="message is-dark">
            <div class="message-header">
                <p>Notify</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">{{ body }}</div>
        </article>
    </div>
{% endif %}
{%- endmacro %}
