<nav id="header" class="navbar has-background-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('bp_main.index') }}">
        <img src="{{ url_for('static', filename='img/text.png') }}" width="32" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('bp_main.index') }}">Link</a>

        <a class="navbar-item" href="{{ url_for('bp_link.index') }}">Explore</a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('bp_main.about') }}">About</a>
            <a class="navbar-item" href="https://gitlab.com/shutdown57/devdiaries.ml">
                Project source
            </a>
            <a class="navbar-item" href="{{ url_for('bp_main.contact') }}">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#">
                Report an issue
            </a>
            </div>
        </div>
        </div>

        {% if not current_user.is_authenticated() %}
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="{{ url_for('bp_auth.register_create') }}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{{ url_for('bp_auth.login_store') }}">
                Log in
              </a>
            </div>
          </div>
        </div>
        {% elif current_user.is_authenticated() %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('bp_user.index') }}">
                        <strong>Dashboard</strong>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
  </div>
</nav>
