<footer id="footer" class="footer has-background-success">
  <div class="content has-text-centered">
    <p>
      <strong>Link</strong> by <a href="https://devdiaries.ml">Majid Mohamadi</a>. The source code is licensed
      <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
    <p>
      <script src="https://liberapay.com/shutdown57/widgets/button.js"></script>
      <noscript><a href="https://liberapay.com/shutdown57/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
    </p>
  </div>
</footer>
