{% extends "layouts/layout.default.html" %}

{% block title %}Link Project{% endblock %}

{% block section %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Link Project
        </h1>
        <p class="subtitle">
             Project <strong>Link</strong> is under development.
        </p>
        <p class="subtitle">The goal of project is reference of useful and official websites (scam, junk and ... report)</p>
        <p class="subtitle">Contact page</p>
    </div>
</section>
{% endblock %}
