{% extends "layouts/layout.default.html" %}

{% block title %}Link Project{% endblock %}

{% block section %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Link Project
        </h1>
        <p class="subtitle">
             Project <strong>Link</strong> is under development.
        </p>
        <p class="subtitle">The goal of project is reference of useful and official websites (scam, junk and ... report)</p>
        {% if links %}
            <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th><abbr title="Identify">ID</abbr></th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Description</th>
                        <th>Tag('s)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><abbr title="Identify">ID</abbr></th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Description</th>
                        <th>Tag('s)</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for link in links.items %}
                        <tr>
                            <th><strong>{{ link.id }}</strong></th>
                            <td><strong>{{ link.name }}</strong></td>
                            <td><a href="{{ link.url }}">{{ link.url }}</a></td>
                            <td>{{ link.description }}</td>
                            <td class="tags">
                                {% for tag in link.tags %}
                                    <span class="tag is-small is-rounded is-link">
                                        <a class="has-text-white" href="#">{{ tag.name }}</a>
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</section>
{% endblock %}
